body {
  margin: 0;
}

a {
  text-decoration: none;
}

p,
span {
  word-spacing: -1px;
}

.container {
  height: 6000px;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s;
}

.nav-small-bg {
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.navbar-fixed {
  position: fixed;
  z-index: 5;
}

.flex-grow-item {
  transition: flex-grow 0.5s;
}

.navbar-item {
  width: 100px;
  height: 70px;
  margin: 5px;
  max-width: 200px;
  justify-content: space-between;
  align-items: center;
}

.navbar-item-main {
  flex-grow: 1;
  width: 100px;
  height: 70px;
  margin: 5px;
  max-width: 200px;
  transition: all 0.5s;
  text-align: center;
}


.navbar-item-main span {
  font-size: 30px;
  line-height: 70px;
  color: rgb(211, 211, 0);
  transition: all 0.5s;
}

.navbar-item-main:hover {
  flex-grow: 1;
  height: 70px;
  font-size: 35px;
  transition: all 0.5s;
}

.text-small {
  font-size: 16px;
  line-height: 30px;
  transition: all 0.5s;
}

.nav-small {
  height: 30px;
}

.main-banner {
  height: 6000px;
  width: 100%;
  background-color: #3d537d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateY(-2400px);
}

.main-banner-fixed {
  position: fixed;
  transition: all 1s;
}

.banner-content {
  text-align: center;
  color: white;
}



.banner-tranform {
  transform: translateY(0px);
  transition: all ease-out 0.5s;
}

.banner-content p:nth-child(1) {
  font-size: 22px;
  font-weight: 100;
}

.banner-content span {
  font-size: 60px;
  font-weight: 10;
}

.banner-content p:nth-child(3) {
  opacity: 0.7;
  font-weight: 100;
}

.banner-icon {
  display: flex;
  margin: 10px;
}

.icon-item {
  box-sizing: border-box;
  width: 100px;
  padding: 5px;
  text-align: center;
  transition: border 0.5s;
}

.icon-item i {
  font-size: 40px;
  color: white;
  padding: 0px 20px;
  visibility: hidden;
  transform: translateY(900px);
  transition: all 1s;
}

.banner-img {
  position: relative;
}

.banner-img img {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: -500px;
  width: 1000px;
  transition: all 1s;
}

.banner-img-tranform {
  transform: translateY(-1300px);
  transition: all 1s;
}

.banner-text-show {
  transform: translateX(150px);
  transition: all 0.5s;
}

.banner-text-show div:nth-child(1) span {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.banner-text-show div:nth-child(2) {
  transition: all 0.5s;
}

.banner-text-show div:nth-child(2) span {
  font-weight: 700;
  color: rgb(158, 255, 145);
  transform: translateX(0px) translateY(0px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.banner-final img{
  position: absolute;
  transition: all 1s;
}

.banner-final img:nth-child(1) {
  transform: translateX(-380px) translateY(800px) rotate(90deg);
  width: 400px;
}
.banner-final img:nth-child(2) {
  transform: translateX(-2000px) translateY(150px) rotate(90deg);
  width: 400px;
}
.banner-final img:nth-child(3) {
  transform: translateX(2000px) translateY(-100px);
  width: 400px;
}
.banner-final img:nth-child(4) {
  transform: translateX(400px) translateY(2000px) rotate(90deg);
  width: 400px;
}
.banner-final img:nth-child(5) {
  transform: translateX(-25px) translateY(2000px);
  width: 300px;
}
.banner-final img:nth-child(6) {
  transform: translateX(-2000px) translateY(-250px) rotate(90deg);
  width: 180px;
}
.banner-final img:nth-child(7) {
  transform: translateX(2000px) translateY(-650px) rotate(-90deg);
  width: 250px;
}
.banner-final img:nth-child(8) {
  transform: translateX(400px) translateY(-2000px);
  width: 200px;
}
.banner-final img:nth-child(9) {
  transform: translateX(2000px) translateY(-600px);
  width: 400px;
}

.banner-final-content > div {
  position: relative;
  line-height: 70px;
}

.banner-final-content > div span {
  position: absolute;
}

.banner-final-content > div:nth-child(1) span {
  font-size: 60px;
  font-weight: 600;
  transform: translateX(-440px) translateY(1000px);
  transition: all 0.5s;
}

.banner-final-content > div:nth-child(2) span {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  color: rgb(141, 97, 16);
  opacity: 0;
  transform: translateX(-425px) translateY(-230px);
  transition: all 0.5s;
}

.banner-final-content i {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  transform: translateX(-500px) translateY(-100px);
  color: forestgreen;
  transition: all 0.5s;
}

.money-bg {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  opacity: 0;
  background-color: rgb(255, 255, 255);
  transition: all 1s;
}